@model Paid_System_PS_.Models.PS_Common_purpose

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>
    Вы уверены, что хотите удалить это?
</h3>
<div>
    <h4>Общее назначение</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code_for_service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code_for_service)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typeof_Card)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Card)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Возврат к общему списку</a>
    </form>
</div>
