@model IEnumerable<Paid_System_PS_.Models.PS_CARD_TYPE>

@{
    ViewData["Title"] = "Index";
}

<h1>Тип Карты</h1>

<p>
    <a asp-action="Create">Добавить новую Карту</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIRSTSYMBOLS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERVICEADRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOGIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PASS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FIRSTSYMBOLS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SERVICEADRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOGIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PASS)
            </td>
            <td>
             
                <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Данные о</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a> |

            </td>
        </tr>
}
    </tbody>
</table>
